{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TrackSpedition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    {% if request.user.is_authenticated %}
    <div class="offcanvas offcanvas-end" id="notificationsOffCanvas">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Heading</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
        </div>
    </div>
    {% endif %}
    <header>
        <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light border-bottom">
            <div class="container-fluid">
                {% if request.user.is_authenticated %}
                <div class="collapse navbar-collapse ms-lg-3" id="navBarCollapse">
                    <ul class="navbar-nav me-auto">
                        <a class="navbar-brand" href="#">TrackSpedition</a>
                        {% if request.user.is_staff %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarCarsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-car me-1"></i>
                                Автомобили
                            </a>
                            <ul class="dropdown-menu mb-3" aria-labelledby="navbarCarsDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:cars-list' %}">
                                        <i class="fas fa-car me-1"></i>
                                        Списък с автомобили
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:add-car' %}">
                                        <i class="fas fa-plus me-1"></i>
                                        Добавяне на автомобил
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:reminders-list' %}">
                                        <i class="fas fa-clock"></i>
                                        Списък с напоняния
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:add-reminder' %}">
                                        <i class="fas fa-plus me-1"></i>
                                        Добавяне на напомняне
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:services-list' %}">
                                        <i class="fas fa-wrench"></i>
                                        Списък с технически обслужвания
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:add-service' %}">
                                        <i class="fas fa-plus me-1"></i>
                                        Добавяне на техническо обслужване
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:users-details-list' %}">
                                        <i class="fas fa-user me-1"></i>
                                        Управление на шофьори
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% else %}
                <a class="navbar-brand ms-lg-3" href="#">TrackSpedition</a>
                {% endif %}
                <ul class="navbar-nav flex-row ms-auto me-lg-3">
                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <li class="nav-item me-3">
                        <button class="notifications-button nav-link" data-bs-toggle="offcanvas"
                            data-bs-target="#notificationsOffCanvas">
                            <span class="fa-stack" data-count="123">
                                <i class="fas fa-bell"></i>
                            </span>
                        </button>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end user-dropdown mb-3" aria-labelledby="userDropdown">
                            {% if user.is_authenticated %}
                            <li>
                                <a class="dropdown-item" href="{% url 'account_email' %}">
                                    <i class="fas fa-envelope"></i>
                                    Управление на e-mail адреси
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account_change_password' %}">
                                    <i class="fas fa-key"></i>
                                    Смяна на парола
                                </a>
                            </li>
                            {% if request.user.is_staff %}
                            <li>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">
                                    <i class="fas fa-info-circle"></i>
                                    Админ панел
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a class="dropdown-item" href="{% url 'profile-details' %}">
                                    <i class="fas fa-info-circle"></i>
                                    Данни на шофьор
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Изход
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a class="dropdown-item" href="{% url 'account_login' %}">
                                    Вход
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account_signup' %}">
                                    Регистрация
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer mt-auto py-3 bg-light border-top">
        <div class="container text-center">
            <span class="text-muted">Footer</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'main/scripts/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>