main
{
    margin-top: 57px;
}

textarea
{
    resize: none;
    height: 100px;
}   

.page-heading
{
    height: 60px;
    position: relative;
}

@media (min-width: 768px)
{
    .page-heading {
        height: 80px;
    }
}

@media (min-width: 992px)
{
    .page-heading {
        height: 90px;
    }
}

@media (min-width: 1200px) 
{
    .page-heading {
        height: 120px;
    }
}

.page-heading img
{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
}

.page-heading h1
{
    position: absolute;
    text-align: center;
}

.add-car
{
    gap: 10px;
    display: flex;
}

.add-car .btn
{
    align-self: flex-end;
}

.form-flex
{
    gap: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field-label
{
    display: block;
    margin-bottom: 0.25rem;
}

.field a
{
    display: block;
    word-break: break-all;
    text-decoration: none;
}

.nice-select
{
    width: 100%;
    font-size: 1rem;
    color: #212529;
    font-weight: 400;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.nice-select:focus
{
    outline: 0;
    color: #212529;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.nice-select .current
{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

.nice-select .list
{
    width: 100%;
    margin-top: 0.5rem;
}

.errorlist
{
    margin: 0;
    color: #dc3545;
}   

.error-message
{
    color: #dc3545;
}

.table-action-button
{
    margin: 0.1rem;
}

.modal
{
    word-break: break-word;
}

.notifications-button 
{
    border: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
    background-color: unset;
}

.fa-stack[data-count]:after
{
    font-size: 60%;
    color: #0d6efd;
    font-weight: bold;
    text-align: center;
    position: absolute;
    line-height: 1.5em;
    content: attr(data-count);
}

.nav-link i
{
    font-size: 20px;
}

.navbar-nav .user-dropdown
{
    position: absolute;
}

.offcanvas-end
{
    width: 100%;
}

@media (min-width: 576px)
{
    .offcanvas-end
    {
        width: 80%;
    }
}

@media (min-width: 768px)
{
    .offcanvas-end
    {
        width: 70%;
    }
}

@media (min-width: 992px)
{
    .offcanvas-end {
        width: 60%;
    }
}

@media (min-width: 1200px) 
{
    .offcanvas-end {
        width: 40%;
    }
}

.information-page
{
    width: 100%;
    height: 100%;
}

.information-page img
{
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    object-fit: cover;
}

.information-page h2
{
    position: absolute;
    text-align: center;
}