{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="page-heading d-flex justify-content-center align-items-center">
  <img src="{% static 'main/images/page-heading.jpeg' %}" alt="">
  <h1>Вход</h1>
</div>
<div class="container mt-5 mb-5">
  <form class="form-flex" method="POST" action="{% url 'account_login' %}" novalidate autocomplete="off">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="col-12 text-center mb-2">
      <p class="error-message"><i class="fa fa-exclamation"></i> {{ error }}</p>
    </div>
    {% endfor %}
    {% endif %}

    {% for field in form %}
    <div class="col-12 col-md-8 col-xl-6">
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="text-decoration-none" href="{% url 'account_reset_password' %}">Забравена парола?</a>
    <button class="btn btn-primary" type="submit">Вход</button>
  </form>
</div>
{% endblock content %}