{% extends "account/base.html" %}
{% load static %}
{% block content %}

{% if token_fail %}

{% with message="Връзката за смяна на паролата е изтекла, опитайте отново." %}
{% include "information_page.html" %}
{% endwith %}

{% else %}

{% if form %}
<div class="page-heading d-flex justify-content-center align-items-center">
    <img src="{% static 'main/images/page-heading.jpeg' %}" alt="">
    <h1>Възстанови паролата си</h1>
</div>
<div class="container mt-5 mb-5">
    <form class="form-flex" method="POST" action="{{ action_url }}" novalidate autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-12 col-md-8 col-xl-6">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" name="action" value="Смени" />
    </form>
</div>
{% else %}

{% with message="Паролата Ви е сменена." %}
{% include "information_page.html" %}
{% endwith %}

{% endif %}
{% endif %}
{% endblock content %}