{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="page-heading d-flex justify-content-center align-items-center">
    <img src="{% static 'main/images/page-heading.jpeg' %}" alt="">
    <h1>Смяна на парола</h1>
</div>
<div class="container mt-5 mb-5">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-flex" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="col-12 col-md-8 col-xl-6">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" name="action" class="btn btn-primary">Смени</button>
        <a class="text-decoration-none" href="{% url 'account_reset_password' %}">Забравена парола?</a>
    </form>
</div>
{% endblock content %}