{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="page-heading d-flex justify-content-center align-items-center">
    <img src="{% static 'main/images/page-heading.jpeg' %}" alt="">
    <h1>Вход</h1>
</div>
<div class="container mt-5 mb-5">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-flex" novalidate>
        {% csrf_token %}

        <p class="fw-light fs-5">
            Забравили сте си паролата? Въведете вашия e-mail адрес и ние ще ви изпратим e-mail, който ще ви позволи да я
            смените.
        </p>

        {% for field in form %}
        <div class="col-12 col-md-8 col-xl-6">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <p class="fw-light fs-6">Свържете се с нас, ако имате някакви проблеми.</p>
        <button type="submit" class="btn btn-primary">Изпрати</button>
    </form>
</div>
{% endblock content %}