{% extends 'main/base.html' %}
{% block content_main %}
<div class="col-12 text-center mb-4">
    <a href="{% url 'main:add-course-invoice' %}" class="text-decoration-none">
        Добавяне на фактура за курс
        <i class="fas fa-plus ms-1"></i>
    </a>
</div>
<div class="form-floating mb-4 col-12 col-md-6 col-xl-4 gx-1">
    <input type="text" class="form-control" id="tableSearch" placeholder="Търси" aria-describedby="tableSearchHelp">
    <label for="tableSearch">Потърси:</label>
    <div id="tableSearchHelp" class="form-text">
        Потърсете по курс или цена
    </div>
</div>
<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th class="col-1">№</th>
            <th class="col-3">Курс</th>
            <th class="col-1">Цена</th>
            <th class="col-2">Действия</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for course_invoice in course_invoices %}
        <div class="modal fade" id="deleteCourseInvoice{{ course_invoice.id }}" tabindex="-1"
            aria-labelledby="deleteCourseInvoice{{ course_invoice.id }}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCourseInvoice{{ course_invoice.id }}Label">
                            Изтриване на фактура за курс
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Сигурни ли сте, че искате да изтриете {{ course_invoice }} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затваряне</button>
                        <form action="{% url 'main:delete-course-invoice' pk=course_invoice.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Изтриване</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <tr>
            <td class="searchable">{{ course_invoice.number }}</td>
            <td class="searchable">
                <a href="{{ course_invoice.course.get_absolute_url }}" class="text-decoration-none">
                    {{ course_invoice.course }}
                </a>
            </td>
            <td class="searchable">
                {{ course_invoice.course.course_price }} {{ course_invoice.course.currency }}
            </td>
            <td class="text-center">
                <a href="{% url 'main:update-course-invoice' pk=course_invoice.id %}"
                    class="btn btn-primary table-action-button">
                    <i class="fas fa-edit"></i>
                </a>
                <button class="btn btn-danger table-action-button" data-bs-toggle="modal"
                    data-bs-target="#deleteCourseInvoice{{ course_invoice.id }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <a href="{% url 'main:course-invoice-xlsx' pk=course_invoice.id %}"
                    class="btn btn-success table-action-button">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content_main %}