{% extends 'main/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css"
    integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block content_main %}

{% if request.user.is_staff %}
<div class="col-12 text-center mb-4">
    <a href="{% url 'main:add-course' %}" class="text-decoration-none">
        Добавяне на курс
        <i class="fas fa-plus ms-1"></i></a>
</div>
{% endif %}

{% if request.user.is_staff %}
<p>
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm"
        aria-expanded="false" aria-controls="collapseExample">
        Сваляне на дневник
    </button>
</p>
<div class="collapse" id="collapseForm">
    <p class="text-center fw-light fs-4">Сваляне на дневник</p>
    <form action="{% url 'main:courses-list' %}" class="form-flex mb-5" method="post" autocomplete="off"
        enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="col-12 col-md-8 col-xl-6">
            <div class="field-label">
                {{ field.label_tag }}
            </div>
            <div class="field">
                {{ field }}
            </div>
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Свали</button>
    </form>
</div>
{% endif %}

<div class="form-floating mb-4 col-12 col-md-6 col-xl-4 gx-1">
    <input type="text" class="form-control" id="tableSearch" placeholder="Търси" aria-describedby="tableSearchHelp">
    <label for="tableSearch">Потърси:</label>
    <div id="tableSearchHelp" class="form-text">
        Потърсете по релация, автомобил, шофьор, контрагент или дата
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
        <thead>
            <tr>
                <th class="col-1">№</th>
                <th class="col-2">Релация</th>
                <th class="col-2">Автомобил</th>
                <th class="col-2">Шофьор</th>
                <th class="col-2">Контрагент</th>
                <th class="col-1">Дата на създаване</th>
                {% if request.user.is_staff %}
                <th class="col-1">Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="table-body">
            {% for course in courses %}
            <div class="modal fade" id="deleteCourse{{ course.id }}" tabindex="-1"
                aria-labelledby="deleteCourse{{ course.id }}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteCourse{{ course.id }}Label">
                                Изтриване на курс
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Сигурни ли сте, че искате да изтриете курс {{ course.from_to }} на {{ course.driver }} ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затваряне</button>
                            <form action="{% url 'main:delete-course' pk=course.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Изтриване</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <tr>
                <th>
                    <a href="{% url 'main:course-information' pk=course.id %}" class="text-decoration-none">
                        {{ course.id }}
                    </a>
                </th>
                <td class="searchable">{{ course.from_to }}</td>
                <td class="searchable">{{ course.car }}</td>
                <td class="searchable">{{ course.driver }}</td>
                <td class="searchable">{{ course.contractor }}</td>
                <td class="searchable">{{ course.creation_date }}</td>
                {% if request.user.is_staff %}
                <td class="text-center">
                    <a href="{% url 'main:update-course' pk=course.id %}" class="btn btn-primary table-action-button">
                        <i class="fas fa-edit"></i>
                    </a>
                    <button class="btn btn-danger table-action-button" data-bs-toggle="modal"
                        data-bs-target="#deleteCourse{{ course.id }}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content_main %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
    integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"
    integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function () {
        $('select').niceSelect();
        $(".date-picker").datepicker({
            format: 'yyyy-mm-dd',
        });
    });
</script>
{% endblock scripts %}