{% extends 'main/base.html' %}
{% block content_main %}
<div class="col-12 text-center mb-4">
    <a href="{% url 'main:add-reminder' %}" class="text-decoration-none">
        Добавяне на напомняне
        <i class="fas fa-plus ms-1"></i>
    </a>
</div>
<div class="form-floating mb-4 col-12 col-md-6 col-xl-4 gx-1">
    <input type="text" class="form-control" id="tableSearch" placeholder="Търси" aria-describedby="tableSearchHelp">
    <label for="tableSearch">Потърси:</label>
    <div id="tableSearchHelp" class="form-text">
        Потърсете по регистрационен номер, марка или вид напомняне
    </div>
</div>
<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th class="col-2">Номер</th>
            <th class="col-2">Марка</th>
            <th class="col-2">Вид напомняне</th>
            <th class="col-1">Действия</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for reminder in reminders %}
        <div class="modal fade" id="deleteReminder{{ reminder.id }}" tabindex="-1"
            aria-labelledby="deleteReminder{{ reminder.id }}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteReminder{{ reminder.id }}Label">
                            Изтриване на напомняне
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Сигурни ли сте, че искате да изтриете {{ reminder.reminder_type }} - {{ reminder.car.brand }}
                        {{ reminder.car.number_plate }} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затваряне</button>
                        <form action="{% url 'main:delete-reminder' pk=reminder.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Изтриване</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <tr>
            <td class="searchable">{{ reminder.car.number_plate }}</td>
            <td class="searchable">{{ reminder.car.brand }}</td>
            <td class="searchable">{{ reminder.reminder_type }}</td>
            <td class="text-center">
                <a href="{% url 'main:update-reminder' pk=reminder.id %}" class="btn btn-primary table-action-button"><i
                        class="fas fa-edit"></i></a>
                <button class="btn btn-danger table-action-button" data-bs-toggle="modal"
                    data-bs-target="#deleteReminder{{ reminder.id }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content_main %}