<div class="col-12 form-flex formset-form d-none" id="emptyFormsetForm">
    <p class="fw-light text-center fs-4 text-capitalize">{{ formset_form_name }}</p>
    {% for f in formset.empty_form %}
    {% if f.field.widget.input_type != 'hidden' %}
    <div class="col-12 col-md-8 col-xl-6">
        {% if f.field.widget.input_type == 'checkbox' %}

        <label class="form-check-label" for="{{ f.id_for_label }}">
            {{ f.label_tag }}
        </label>
        {{ f }}

        {% else %}

        <div class="field-label">
            {{ f.label_tag }}
        </div>
        <div class="field">
            {{ f }}
        </div>
        {{ f.errors }}

        {% endif %}
    </div>
    {% else %}
    {{ f }}
    {% endif %}
    {% endfor %}
</div>

{% for formset_form in formset %}
<div class="col-12 form-flex formset-form">
    <p class="fw-light text-center fs-4 text-capitalize">{{ formset_form_name }}</p>
    {% for f in formset_form %}
    {% if f.field.widget.input_type != 'hidden' %}
    <div class="col-12 col-md-8 col-xl-6">
        {% if f.field.widget.input_type == 'checkbox' %}

        <label class="form-check-label" for="{{ f.id_for_label }}">
            {{ f.label_tag }}
        </label>
        {{ f }}

        {% else %}

        <div class="field-label">
            {{ f.label_tag }}
        </div>
        <div class="field">
            {{ f }}
        </div>
        {{ f.errors }}

        {% endif %}
    </div>
    {% else %}
    {{ f }}
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

<a href="#" class="text-decoration-none text-center" id="addFormsetForm">
    Добави {{ formset_form_name }}
    <i class="fas fa-plus ms-1"></i>
</a>
{{ formset.management_form }}